<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Medications </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
        <nav>
          <a class="nav-link" href="/">Home Page</a>|
          <a class="nav-link" href="/medications">Medication Inventory</a> |
          <a class="nav-link" href="/prescriptions">Prescriptions</a> |
          <a class="nav-link" href="/orders">Purchase Orders</a> |
          <a class="nav-link" href="/suppliers">Suppliers</a> |
          <a class="nav-link" href="/patients">Patients</a> |
          <a class="nav-link" href="/techs">Pharmacy Technicians</a>
        </nav>
    </div>

    {% block content %}
    <div>
        {% for message in get_flashed_messages() %}
        <div>
            <p class="error_message">{{ message }}</p>
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <div>
        <h2 class="page-title">Search Medication</h2>
    </div>
    <div>
        <form action="/medication-search" method="POST">
        <input class="search-med" type="text" placeholder="Name of medication" name="search" />

        <button id="search-button" type="submit" value="Submit">
            Search
        </button>
        </form>
    </div>

    <section>
        <div>
            <h2 class="page-title">Medications</h2>
        </div>
            <table id="medications">
                <caption>
                    Medication Search Results
                </caption>
                <thead>
                    <tr>
                        <th>medication_id</th>
                        <th>drug_name</th>
                        <th>dosage_form</th>
                        <th>dose_number</th>
                        <th>dose_unit</th>
                        <th>quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    {% for row in med_info %}
                    <tr>
                        <td>{{row['medication_id']}}</td>
                        <td>{{row['drug_name']}}</td>
                        <td>{{row['dosage_form']}}</td>
                        <td>{{row['dose_number']}}</td>
                        <td>{{row['dose_unit']}}</td>
                        <td>{{row['quantity']}}</td>
                        <td>
                            <form action="/update-medication" method="GET">
                                <button type="submit" name="medication_id" value="{{ row['medication_id'] }}">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/medications" method="POST">
                                <button type="submit" name="delete" value="{{ row['medication_id'] }}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <div>
                <h2 class="page-title">Add Medication</h2>
            </div>
            <form action="/medications" method="post">
                <fieldset>
                <input class="input-attribute" type="text" placeholder="drug name" name="Drug Name" required>
                <input class="input-attribute" type="text" placeholder="dose form" name="Dose Form" required>
                <input class="input-attribute" type="number" min="0" placeholder="dose number" name="Dose Amount" required>
                <select name="dose_unit" class="input-attribute" required>
                    <option value=""> -- Units -- </option>
                    <option value="mg"> mg </option>
                    <option value="mcg"> mcg </option>
                    <option value="g"> g </option>
                    <option value="mg/ml"> mg/ml </option>
                    <option value="%"> % </option>
                </select>
                <input class="input-attribute" type="number" min="0" placeholder="Quantity" name="quantity" required>
                <div class="button-container">
                    <input type="submit" id="add_meds" value="Add Medication">
                </div>
                    </fieldset>
            </form>
    </section>
<br>
</body>

</html>