<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Medications </title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
        <!-- <h2 id="website-subtitle">Beaver Drugs</h2> -->
        <nav>
            <!-- <a href="https://www.w3schools.com">Visit W3Schools</a> -->
            <a class="nav-link" href="index.html">Home Page</a> |
            <a class="nav-link" href="medications.html">Medication Inventory</a> |
            <a class="nav-link" href="prescriptions.html">Prescriptions</a> |
            <a class="nav-link" href="orders.html">Purchase Orders</a> |
            <a class="nav-link" href="suppliers.html">Suppliers</a> |
            <a class="nav-link" href="patients.html">Patients</a> |
            <a class="nav-link" href="techs.html">Pharmacy Technicians</a>
        </nav>
    </div>

    <div>
        <h2 class="page-title">Search Medication</h2>
    </div>
    <div>
        <input class="search-med" type="text" placeholder="Name of medication" />

        <button id="search-button">
            Search
        </button>
    </div>

    <div>
        <div>
            <h2 class="page-title">Medications</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>medication_id</th>
                        <th>drug_name</th>
                        <th>doseage_form</th>
                        <th>dose_number</th>
                        <th>dose_unit</th>
                        <th>quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- {/* below is sample data to show the structure of the table -- delete when we integrate DB*/} -->
                    <tr>
                        <td>0001</td>
                        <td>metoprolol</td>
                        <td>tablet</td>
                        <td>25</td>
                        <td>mg</td>
                        <td>180</td>
                        <td><button type="button">Edit</button></td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    <tr>
                        <td>0002</td>
                        <td>glipizide</td>
                        <td>tablet</td>
                        <td>10</td>
                        <td>mg</td>
                        <td>90</td>
                        <td><button type="button">Edit</button></td>
                        <td><button type="button">Delete</button></td>
                    </tr>

                    <!-- {medications.map((medication, i) => (
                    <Medication medication={medication} onDelete={onDelete} onEdit={onEdit} key={i} />
                    ))} -->
                </tbody>
            </table>


        </div>
        <div class="button-container">
            <div>
                <h2 class="page-title">Add Medication</h2>
            </div>
            <div>
                <input class="input-attribute" type="text" placeholder="Enter medication name" name="name" />
                <!-- onChange={(e)=> setName(e.target.value) -->
                <input class="input-attribute" type="text" name="form" placeholder="Enter doseage form (e.g. tablet)" />
                <!-- onChange={(e)=> setForm(e.target.value)} -->
                <input class="input-attribute" type="number" placeholder="Enter dose number" name="dose" />
                <!-- onChange={(e)=> setDose(e.target.value)} -->
                <select name="unit" class="input-attribute">
                    <!-- onChange={(e)=> setUnit(e.target.value)}/> -->

                    <option value="">Select units for dose used</option>
                    <option value="mg">mg</option>
                    <option value="g">g</option>
                    <option value="mL">mL</option>
                </select>
                <input class="input-attribute" type="number" placeholder="Enter quantity of drug" name="qty" />
                <!-- onChange={(e)=> setQty(e.target.value)}/> -->
            </div>
            <div class="button-container">
                <button id="submit-button" onClick={addMedication}>
                    Add
                </button>
            </div>
        </div>


    </div>
</body>

</html>