<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Medications </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
        <nav>
          <a class="nav-link" href="/">Home Page</a>|
          <a class="nav-link" href="/medications">Medication Inventory</a> |
          <a class="nav-link" href="/prescriptions">Prescriptions</a> |
          <a class="nav-link" href="/orders">Purchase Orders</a> |
          <a class="nav-link" href="/suppliers">Suppliers</a> |
          <a class="nav-link" href="/patients">Patients</a> |
          <a class="nav-link" href="/techs">Pharmacy Technicians</a>
        </nav>
    </div>

    <div>
        <h2 class="page-title">Search Medication</h2>
    </div>
    <div>
        <input class="search-med" type="text" placeholder="Name of medication" />

        <button id="search-button">
            Search
        </button>
    </div>

    <div>
        <div>
            <h2 class="page-title">Medications</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>medication_id</th>
                        <th>drug_name</th>
                        <th>dosage_form</th>
                        <th>dose_number</th>
                        <th>dose_unit</th>
                        <th>quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    {% for row in med_info %}
                    <tr>
                        <td>{{row['medication_id']}}</td>
                        <td>{{row['drug_name']}}</td>
                        <td>{{row['dosage_form']}}</td>
                        <td>{{row['dose_number']}}</td>
                        <td>{{row['dose_unit']}}</td>
                        <td>{{row['quantity']}}</td>
                        <td><button type="button">Edit</button></td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
            <div>
                <h2 class="page-title">Add Medication</h2>
            </div>
            <form action="/medications" method="post">
                <fieldset>
                <input class="input-attribute" type="text" placeholder="drug name" name="drug_name" >
                <input class="input-attribute" type="text" placeholder="dose form" name="dosage_form" >
                <input class="input-attribute" type="number" placeholder="dose number" name="dose_number" >
                <input class="input-attribute" type="text" placeholder="dose unit" name="dose_unit" >
                <input class="input-attribute" type="number" placeholder="quantity" name="quantity" >
                <div class="button-container">
                    <input type="submit" id="add_meds" value="Add Medication">
                </div>
                    </fieldset>
            </form>
    </div>
</body>

</html>