<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div id="website-header">
        <h1>MedCount DB</h1>
    <nav>
      <a class="nav-link" href="/">Home Page</a>|
      <a class="nav-link" href="/medications">Medication Inventory</a> |
      <a class="nav-link" href="/prescriptions">Prescriptions</a> |
      <a class="nav-link" href="/orders">Purchase Orders</a> |
      <a class="nav-link" href="/suppliers">Suppliers</a> |
      <a class="nav-link" href="/patients">Patients</a> |
      <a class="nav-link" href="/techs">Pharmacy Technicians</a>
    </nav>
    </div>

    <div>
        <h2 class="page-title">Purchase Orders</h2>
    </div>

    <section>
        <table id="orders">
            <caption>
                purchase_orders
            </caption>
            <thead>
                <tr>
                    <th>purchase_id</th>
                    <th>supplier_id</th>
                    <th>employee_id</th>
                    <th>medication_id</th>
                    <th>quantity</th>
                    <th>unit_price</th>
                    <th>total_price</th>
                    <th>date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                    {% for row in order_info %}
                    <tr>
                        <td>{{row['purchase_id']}}</td>
                        <td>{{row['supplier_id']}}</td>
                        <td>{{row['employee_id']}}</td>
                        <td>{{row['medication_id']}}</td>
                        <td>{{row['quantity']}}</td>
                        <td>{{row['unit_price']}}</td>
                        <td>{{row['total_price']}}</td>
                        <td>{{row['date']}}</td>
                        <td>
                            <form action="/orders" method="POST">
                                <button type="submit" name="delete" value="{{ row['purchase_id'] }}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </section>

    <section>
        <div>
            <h2 class="page-title">Add Purchase Order</h2>
        </div>
        <form action="/orders" method="post">
            <fieldset>

             <select name="supplier_id" class="input-attribute" required>
                    <option value=""> -- Supplier ID -- </option>
                    {% for s in supplier_info %}
                    <option value="{{s['supplier_id']}}"> {{s['supplier_id']}}</option>
                    {% endfor %}
                </select>
                <select name="employee_id" class="input-attribute">
                    <option value=""> -- Employee ID -- </option>
                    {% for e in employee_info %}
                    <option value="{{e['employee_id']}}"> {{e['employee_id']}}</option>
                    {% endfor %}
                </select>
                <select name="medication_id" class="input-attribute" required>
                    <option value=""> -- Medication ID -- </option>
                    {% for m in medications_info %}
                    <option value="{{m['medication_id']}}"> {{m['medication_id']}}</option>
                    {% endfor %}
                </select>

            <input class="input-attribute" type="number" min="0" placeholder="Quantity" name="quantity" required>
            <input class="input-attribute" type="number" min="0" placeholder="Unit Price" name="unit_price" required>
            <input class="input-attribute" type="date" placeholder="date" name="date" required>
            <div class="button-container">
                 <input type="submit" id="add_orders" value="Add Order">
            </div>
                </fieldset>
        </form>
    </section>

</body>

</html>