<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
    <nav>
        <a class="nav-link" href="/">Home Page</a>|
        <a class="nav-link" href="/medications">Medication Inventory</a> |
        <a class="nav-link" href="/prescriptions">Prescriptions</a> |
        <a class="nav-link" href="/orders">Purchase Orders</a> |
        <a class="nav-link" href="/suppliers">Suppliers</a> |
        <a class="nav-link" href="/patients">Patients</a> |
        <a class="nav-link" href="/techs">Pharmacy Technicians</a>
    </nav>
    </div>

    <div>
        <h2 class="page-title">Patients</h2>
    </div>

    <section>
        <table id="patients">
            <caption>
                Patients
            </caption>
            <thead>
                <tr>
                    <th>patient_id</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>phone</th>
                    <th>street_number</th>
                    <th>street_name</th>
                    <th>zip_code</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for row in pt_info %}
                <tr>
                    <td>{{row['patient_id']}}</td>
                    <td>{{row['first_name']}}</td>
                    <td>{{row['last_name']}}</td>
                    <td>{{row['phone']}}</td>
                    <td>{{row['street_number']}}</td>
                    <td>{{row['street_name']}}</td>
                    <td>{{row['zip_code']}}</td>
                    <td>
                            <form action="/update-patient" method="GET">
                                <button type="submit" name="patient_id" value="{{ row['patient_id'] }}">Edit</button>
                            </form>
                        </td>
                    <td>
                        <form action="/patients" method="POST">
                            <button type="submit" name="delete" value="{{ row['patient_id'] }}">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </section>

    <section>
        <div>
            <h2 class="page-title">Add Patient</h2>
        </div>
        <form action="/patients" method="post">
            <fieldset>
            <input class="input-attribute" type="text" placeholder="first_name" name="first_name" required/>
            <input class="input-attribute" type="text" placeholder="last_name" name="last_name" required/>
            <input class="input-attribute" type="text" pattern="[0-9]{10}" minlength="10" maxlength="10" placeholder="phone" name="phone" required/>
            <input class="input-attribute" type="number" min="0" placeholder="street_number" name="street_number" required/>
            <input class="input-attribute" type="text" placeholder="street_name" name="street_name" required/>
            <input class="input-attribute" type="text" pattern="[0-9]{5}" minlength="5" maxlength="5" placeholder="zip_code" name="zip_code" required/>
            <div class="button-container">
                <input type="submit" id="add_patients" value="Add Patient">
            </div>
                </fieldset>
        </form>
    </section>
<br>
</body>

</html>