<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Prescriptions </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
        <nav>
            <!-- <a href="https://www.w3schools.com">Visit W3Schools</a> -->
            <a class="nav-link" href="index.html">Home Page</a> |
            <a class="nav-link" href="medications.html">Medication Inventory</a> |
            <a class="nav-link" href="prescriptions.html">Prescriptions</a> |
            <a class="nav-link" href="orders.html">Purchase Orders</a> ||
            <a class="nav-link" href="suppliers.html">Suppliers</a> |
            <a class="nav-link" href="patients.html">Patients</a> |
            <a class="nav-link" href="techs.html">Pharmacy Technicians</a>
        </nav>
    </div>


        <div>
            <h2 class="page-title"></h2>
        </div>
     <section>
         <table id="prescriptions">
            <caption>
                Prescriptions
            </caption>
                <thead>
                    <tr>
                        <th>prescription_id</th>
                        <th>patient_id</th>
                        <th>medication_id</th>
                        <th>quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pres in prescription_info  %}
                    <tr>
                        <td>{{pres['prescription_id']}}</td>
                        <td>{{pres['patient_id']}}</td>
                        <td>{{pres['medication_id']}}</td>
                        <td>{{pres['quantity']}}</td>
                        <td><button type="button">Edit</button></td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                   {% endfor %}
                </tbody>
             <tfoot>
            </tfoot>
            </table>
    </section>

    <section>
            <div>
                <h2 class="page-title">Add Prescription</h2>
            </div>
            <form action="/prescriptions" method="post">
                <fieldset>
                <input class="input-attribute" type="text" placeholder="Enter patient ID" name="patient_id" />
                <input class="input-attribute" type="text" placeholder="Enter medication ID" name="medication_id" />
                <input class="input-attribute" type="number" placeholder="Enter quantity" name="qty" />
            <div class="button-container">
                <input type="submit" id="add_prescription" value="Add Prescription">
            </div>
            </fieldset>
            </form>
    </section>
</body>
</html>