<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Prescriptions </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
    <nav>
        <a class="nav-link" href="/">Home Page</a>|
        <a class="nav-link" href="/medications">Medication Inventory</a> |
        <a class="nav-link" href="/prescriptions">Prescriptions</a> |
        <a class="nav-link" href="/orders">Purchase Orders</a> |
        <a class="nav-link" href="/suppliers">Suppliers</a> |
        <a class="nav-link" href="/patients">Patients</a> |
        <a class="nav-link" href="/techs">Pharmacy Technicians</a>
    </nav>
    </div>


        <div>
            <h2 class="page-title">Prescriptions</h2>
        </div>
     <div>
         <table id="prescriptions">
            <caption>
                Prescriptions
            </caption>
                <thead>
                    <tr>
                        <th>prescription_id</th>
                        <th>patient_id</th>
                        <th>medication_id</th>
                        <th>quantity</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pres in prescription_info  %}
                    <tr>
                        <td>{{pres['prescription_id']}}</td>
                        <td>{{pres['patient_id']}}</td>
                        <td>{{pres['medication_id']}}</td>
                        <td>{{pres['quantity']}}</td>
                        <td>
                            <form action="/prescriptions" method="POST">
                                <button type="submit" name="delete" value="{{ pres['prescription_id'] }}">Delete</button>
                            </form>
                        </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
    </div>

    <br>

    <section>
            <div>
                <h2 class="page-title">Add a Prescription</h2>
            </div>
            <form action="/prescriptions" method="post">
                <fieldset>
                <select name="patient_id" class="input-attribute" required>
                    <option value=""> -- Patient ID -- </option>
                    {% for p in patients_info %}
                    <option value="{{p['patient_id']}}"> {{p['first_name']}} {{p['last_name']}}</option>
                    {% endfor %}
                </select>
                <select name="medication_id" class="input-attribute" required>
                    <option value=""> -- Medication ID -- </option>
                    {% for m in medications_info %}
                    <option value="{{m['medication_id']}}"> {{m['drug_name']}}</option>
                    {% endfor %}
                </select>
                <input class="input-attribute" type="number" min="0" placeholder="Enter quantity" name="quantity" required/>
            <div class="button-container">
                <input type="submit" id="add_prescription" value="Add Prescription">
            </div>
            </fieldset>
            </form>
    </section>
    <br>
</body>
</html>