<!DOCTYPE html>
<html>

<head>
    <title> MedDB - Suppliers </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div id="website-header">
        <h1>MedCount DB</h1>
    <nav>
        <a class="nav-link" href="/">Home Page</a>|
        <a class="nav-link" href="/medications">Medication Inventory</a> |
        <a class="nav-link" href="/prescriptions">Prescriptions</a> |
        <a class="nav-link" href="/orders">Purchase Orders</a> |
        <a class="nav-link" href="/suppliers">Suppliers</a> |
        <a class="nav-link" href="/patients">Patients</a> |
        <a class="nav-link" href="/techs">Pharmacy Technicians</a>
    </nav>
    </div>

        <div>
            <h2 class="page-title">Suppliers</h2>
        </div>

        <div>
            <table id="suppliers">
                <caption>
                    Suppliers
                </caption>
                <thead>
                    <tr>
                        <th>supplier_id</th>
                        <th>name</th>
                        <th>zip_code</th>
                        <th>phone</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supply in supplier_info  %}
                    <tr>
                        <td>{{supply['supplier_id']}}</td>
                        <td>{{supply['name']}}</td>
                        <td>{{supply['zip_code']}}</td>
                        <td>{{supply['phone']}}</td>
                        <td><button type="button">Edit</button></td>
                        <td><button type="button">Delete</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>


        <div>
            <div>
                <h2 class="page-title">Add Supplier</h2>
            </div>
            <form action="/suppliers" method="post">
                <fieldset>
                <input class="input-attribute" type="text" placeholder="Enter supplier name"  name="name"/>
                <input class="input-attribute" type="number" placeholder="5 digit zip" name="zip_code"/>
                <input class="input-attribute" type="number" placeholder="Phone-no dashes" name="phone" maxlength="10"/>
            <div class="button-container">
                <input type="submit" id="add_supplier" value="Add Supplier">
            </div>
            </fieldset>
            </form>
        </div>
</body>
</html>