<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy Technicians</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="website-header">
        <h1>MedCount DB</h1>
            <nav>
                <a class="nav-link" href="index.html">Home</a> |
                <a class="nav-link" href="medications.html">Medications</a> |
                <a class="nav-link" href="prescriptions.html">Prescriptions</a> |
                <a class="nav-link" href="orders.html">Purchase Orders</a> |
                <a class="nav-link" href="suppliers.html">Suppliers</a> |
                <a class="nav-link" href="patients.html">Patients</a> |
                <a class="nav-link" href="techs.html">Pharmacy Technicians</a>
            </nav>
    </div>

    <div>
        <h2 class="page-title">Pharmacy Technicians</h2>
    </div>

    <section>
        <table id="techs">
            <caption>
                Techs
            </caption>
            <thead>
                <tr>
                    <th>employee_id</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for tech in tech_info %}
                <tr>
                    <td>{{tech['employee_id']}}</td>
                    <td>{{tech['first_name'}}</td>
                    <td>{{tech['last_name'}}</td>
                    <td><button type="button">Edit</button></td>
                    <td><button type="button">Delete</button></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </section>

    <section>
        <div>
            <h2 class="page-title">Add Pharmacy Technician</h2>
        </div>
        <form action="/techs" method="post">
            <fieldset>
            <input class="input-attribute" type="text" placeholder="first_name" />
            <input class="input-attribute" type="text" placeholder="last_name" />
            <div class="button-container">
                <input type="submit" id="add_tech" value="Add Pharm Tech">
            </div>
            </fieldset>
            </form>
    </section>

</body>
</html>