    <!DOCTYPE html>
<html>

<head>
    <title> MedDB - Update Medication </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

    <div id="website-header">
        <h1>MedCount DB</h1>
        <nav>
          <a class="nav-link" href="/">Home Page</a>|
          <a class="nav-link" href="/medications">Medication Inventory</a> |
          <a class="nav-link" href="/prescriptions">Prescriptions</a> |
          <a class="nav-link" href="/orders">Purchase Orders</a> |
          <a class="nav-link" href="/suppliers">Suppliers</a> |
          <a class="nav-link" href="/patients">Patients</a> |
          <a class="nav-link" href="/techs">Pharmacy Technicians</a>
        </nav>
    </div>

    <div>
        <h2 class="page-title">Update Selected Medication</h2>
    </div>
    <section>
    <form action="/update-medication" method="POST">
        <fieldset>
        <input type="hidden" name="medication_id" value="{{med['medication_id']}}">
            <label>Drug Name </label>
            <section>
            <input class="input-attribute" type="text" name="drug_name" value="{{med['drug_name']}}" required>
            </section>
            <label>Dosage Form </label>
            <section>

                <input class="input-attribute" type="text" name="dosage_form" value="{{med['dosage_form']}}" required>
            </section>
            <label>Dose </label>
            <section>
                <input class="input-attribute" type="number" name="dose_number" value="{{med['dose_number']}}" required>
            </section>
            <label>Dose unit </label>
            <section>
                <input class="input-attribute" type="text" name="dose_unit" value="{{med['dose_unit']}}" required>
            </section>
            <label>Quantity </label>
            <section>
                <input class="input-attribute" type="number" name="quantity" value="{{med['quantity']}}" required>
            </section>

            <br>
         <!-- <button name="update_medication" value="{{ med['medication_id'] }}" type="submit">Submit</button> -->
       <input type="submit" value="Submit">
        <button><a class="cancelToHome" href="/medications" role="button">Cancel</a></button>
        </fieldset>
    </form>
    </section>

</body>

</html>